.card-container{
    border: 1px solid gainsboro;
    border-radius: 8px;
    height: auto;
}

.news-content-wrap{
    padding: 16px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: #202124;
    vertical-align: top;
}

.news-card-img{
    height: 100px;
    border-radius: 8px;
}


.news-link:hover{
    text-decoration: underline;
}

h3{
    font-size: 1.125rem;
    font-size: 1rem;
    line-height: 1.4;
}